<form action="/teams" method="post">
  <label for="name">Item Name: </label><input type="text" id="name" name="name"><br>
  <label for="motto">Team Motto: </label><input type="text" id="motto" name="team[motto]"><br>

  <input type="submit" value="submit">
</form>
